.my-style{
    background-color : teal;
    border-radius : 10px;
    color : white;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.my-style:hover {
    background-color : aqua;
    font-size : 1.2em;
    color: black;
}

.feature{
    border: 2px red dashed;
}

.cancel-button{
    background-color: salmon;
    color: black;
    width: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.cancel-button:hover{
    background-color: red;
    color: white;
}