.backdrop{
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 50%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
}

.the-card{
    background-color: white;
    position: fixed;
    width: 60vw;
    margin-left: 20vw;
    height: 40vh;
    margin-top: 25vh;
    z-index: 75%;
}